body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  text-transform: none;

}
.inner-page {
    background-color: #849d8f;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.site-wrapper {
  min-width: 940px;
  background-color: #849d8f;
  background-image: url(../img/slidericecream1.png);
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;

}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url(../img/slidericecream2.png);
}

.site-wrapper::after {
  background-image: url(../img/slidericecream3.png);
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.header-center,
.header-right {
    padding-top: 23px;
}

.main-navigation {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.header-left {
    margin: 0;
    padding: 9px;

    background: rgba(134, 255, 45, 0.2);
    box-shadow: inset 0 0 0 2px rgb(134, 255, 45);
}

.site-navigation {
  position: relative;
  padding: 0px;
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
}

.site-navigation,
.submenu {
  list-style: none;
}

.site-navigation a,
.header-right a {
  display: block;
  height: 18px;
  padding: 7px 14px;

  vertical-align: middle;
  color: #ffffff;
  text-decoration: underline;

  background: rgba(134, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(134, 255, 45);
}


.submenu {
  display: none;
  position: absolute;
  top: 32px;
  left: -7px;
  margin: 0px;
  margin-top: 5px;
  padding: 0px;
  background-color: #f8f7f4;
}

.site-navigation > li:hover .submenu {
  display: block;
}

.submenu a {
  font-size: 14px;
  line-height: 16px;

  display: block;
  margin: 5px 0px;
  padding: 6px 21px 6px 21px;
  color: #323232;
  text-decoration: none;
}

.submenu a:hover,
.submenu a:focus {
    margin: 5px 0px;
    background-color: #fbded8;
}

.submenu li:first-child {
  margin: 0px 9px 0px 6px;
  border-bottom: 1px #d1d0ce solid;
}

.submenu b {
    padding-left: -6px;
}

.site-navigation a:hover,
.site-navigation a:focus,
.header-right a:hover,
.header-right a:focus {
 {
    background-color: #f7f6f3;
    border-radius: 20px;
}

.site-navigation a:hover,
.site-navigation a:focus,
.header-right a:hover,
.header-right a:focus {
  background-color: #f7f6f3;
}

.submenu a:hover,
.submenu a:focus {
    background-color: #fbded8;
}

.header-right {
  font-size: 14px;
  line-height: 16px;

  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 267px;
  margin-left: auto;
}


.header-right a {
  text-decoration: none;
}

.header-right p {
    text-align: right;
}

.header-right b {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

.search-form-container,
.login,
.cart-container {
    position: relative;
    display: block;
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
}

.search-form-container {
    display: block;
    width: 32px;
}

.login {
    padding-right: 16px;
    padding-left: 45px;
}

.cart-container {
    padding-right: 16px;
    padding-left: 45px;
}

.search-form-container svg {
    position: absolute;
    top:7px;
    right: 7px;
    height: 17px;
    width: 17px;
}

.login svg {
    position: absolute;
    top:6px;
    left: 16px;
    height: 19px;
    width: 21px;
}

.cart-container svg {
    position: absolute;
    top:6px;
    left: 16px;
    height: 20px;
    width: 21px;
}

.search-form-container .search-form {
    display: none;
}

.login .login-form {
    display: none;
}

.search-form-container > a:hover .search-form {
    display: block;
}

.login > a:hover .login-form {
    display: block;
}

.slider {
  position: relative;

  padding-top: 321px;

  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.button {
  display: inline-block;
  padding: 12px 44px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url(../img/slidericecream1.png);
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url(../img/slidericecream2.png);
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url(../img/slidericecream3.png);
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.gifts {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    color: #ffffff;
    text-transform: none;
}

.gifts h3{
    font-size: 35px;
    line-height: 41px;
    padding: 0px;
    margin: 0px;
}

.gifts-left {
    position: relative;
    display: block;
    width: 512px;
    height: 183px;
    background-color: #849d8f;
    background-image: url(../img/raspberries-background.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    border-radius: 15px;
    padding: 23px 29px 23px 20px;
    text-align: left;
 }

.gifts-right {
    position: relative;
     display: block;
     width: 512px;
     height: 183px;
     background-color: #849d8f;
     background-image: url(../img/chocolate-background.jpg);
     background-position: 0 0;
     background-repeat: no-repeat;
     border-radius: 15px;
     padding: 23px 29px 23px 20px;
     text-align: left;
  }

 .gifts .button {
     position: absolute;
     bottom: 23px;
     right:21px;
     font-size: 18px;
     line-height: 24px;
     border-radius: 30px;
 }


.hits p {
    font-size: 45px;
    line-height: 45px;
}

.hits span {
    font-size: 30px;
    line-height: 45px;
}

.hits a {
    color: #ffffff;
    text-decoration: underline;
}

.hits img {
    border-radius: 150px;
}

/*  .hits::before {

} */

.hit-catalog-item {
    list-style: none;
}

.feature {
    color: #323232;
    font-size: 16px;
    line-height: 22px;

    background-color: #ede1c7;
    background-image: url(../img/waffle-pattern.jpg);
    background-position: 0 0;
    background-repeat: repeat;
}

.feature b {
    font-size: 24px;
    line-height: 30px;
}

.feature-item {
    list-style: none;
}

.news {
    height: 220px;
    width: 560px;
    color: #323232;

    background-color: #ffffff;
    background-image: url(../img/strawberry-background.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.news a {
    color: #323232;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-decoration: underline;
}

.news h2 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}

.news-subscription {
    height: 220px;
    width: 560px;
    color: #5a5a5a;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;

    background-image: url(../img/subscription-background.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.news-subscription p,
.subscription-form {
    height: 210px;
    width: 550px;
    background-color: #f8f7f4;
}

.contacts {
    color: #323232;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;

    background-image: url(../img/map.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.contacts div {
    height: 305px;
    width: 302px;
    background-color: #fefefe;
}

.main-footer {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
}

.footer-social ul,
.footer-info li {
  list-style: none;
}

.footer-social {
  text-align: center;
}

.footer-info a {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: underline;
}

.footer-copyright a {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;

    background: inherit;
}


.modal-feedback {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;

  background-color: #f8f7f4;
}

.feedback-form {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;

  background-color: #f8f7f4;
}

.cart {
    color: #323232;
    background-color: #f8f7f4;
}

.cart a {
    color: #323232;
}

.cart .button {
    color: #ffffff;
}

.breadcrumbs,
.filter-option,
.catalog-item,
.pagination-list {
  list-style: none;
}

.sorting-form {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    border: none;
}

.sorting-form legend {
  margin-left: 13px;
  margin-bottom: 5px;
}

.sorting {
  display: inline-block;
  width: 177px;
  height: 36px;
  padding-left: 16px;


 -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  -ms-appearance: none;
  appearance: none!important;

  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  border: none;

}

.sortcontainer {
    height: 75px;
    position: relative;
    background: red;
}

/*    оставлю пока на всякий случай и этот вариант

.sortcontainer::after {
  content: "";

  position: absolute;
  top: 33px;
  right: 14px;


  width: 11px;
  height: 10px;

  background-image: url(../img/select-arrow.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 11px 14px;
}*/

.sort-svg {
    position: absolute;
    top: 33px;
    right: 14px;

    width: 11px;
    height: 14px;
    padding: 0;


    background-color: #000000;
}

/*надо как-то придумать одновременную подсветку стрелочки и текста*/

.sorting:hover,
.sorting:focus {
  color: #323232;
}

.sorting:hover path,
.sorting:focus path {
  fill: #323232;
}

.price-filter {
    margin: 0;
    padding: 0;
    border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.price-filter legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.range-controls {
  position: relative;

  height: 20px;
  padding-top: 16px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: rgba(255, 255, 255, 0.2);


  border-radius: 20px;
}

.range-controls .scale {
  height: 4px;


  background: rgba(248, 247, 244, 0.5);
}

.range-controls .bar {
  position: absolute;
  top: 17px;
  left: 37px;
  width: 106px;
  height: 4px;


  background: rgba(248, 247, 244, 1);
}

.range-controls .toggle {
  position: absolute;
  top: 8px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 34px;
}

.range-controls .toggle-max {
  left: 132px;
}

.product-name {
    text-decoration: underline;
}

/*   сетка  */

html, body {
    min-width: 1200px;
    min-height: 2416px;
}

.main-navigation {
    margin: 0px;

    display: flex;
    align-items: flex-start;
}
.header-left {
    align-self: flex-start;
}

.header-right {
    align-self: flex-end;
}

.main-header-logo {
    order: 1;

    width: 154px;
    height: 64px;
}

.site-navigation {
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.gifts {
    display: flex;
    justify-content: space-between;
    width: 1146px;
    margin-top: 38px;
    margin-bottom: 40px;
}

.gifts-left {
    order:1;
}

.gifts-right {
    order:2;
}

.hits-catalog {
    display: flex;
    justify-content: space-between;

    padding: 0;
    margin: 0;
    list-style: none;
}

.hit-catalog-item {
    width: 267px;
    margin-bottom: 40px;
}

.feature-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 1146px;
    height: 306px;
}

.feature-item {
    width: 560px;
    padding-top: 30px;
}

.news-container {
    display: flex;
    justify-content: space-between;

    width: 1146px;
    height: 220px;
}


.news, .news-subscription {
    width:560px;
    height: 220px;
}

.contacts {
    width: 1200px;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
}

.footer-social {
    display: flex;
    justify-content: flex-start;
}

.footer-info {
    display: flex;
    justify-content: center;
}


.footer-info-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/*сетка каталог*/

.inner-page .main-navigation {
  margin-bottom: 26px;
}

.breadcrumbs {
    display: flex;
}

.filter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog-item {
    width:267px;
}

.pagination-list {
    display: flex;
    justify-content: flex-end;
}
