body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  text-transform: none;

}
.inner-page {
    background-color: #849d8f;
}


.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  clip: rect(0, 0, 0, 0);
}

.site-wrapper {
  min-width: 1240px;
  background-color: #849d8f;
  background-image: url(../img/slidericecream1.png);
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;

}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url(../img/slidericecream2.png);
}

.site-wrapper::after {
  background-image: url(../img/slidericecream3.png);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.main-navigation {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.site-navigation,
.submenu {
  list-style: none;
}

.site-navigation a,
.login a {
  color: #ffffff;
  text-decoration: underline;
}

.submenu a {
    color: #ffffff;
    text-decoration: none;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #849d8f;
}

.slider {
  position: relative;

  padding-top: 321px;

  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.button {
  display: inline-block;
  padding: 12px 44px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url(../img/slidericecream1.png);
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url(../img/slidericecream2.png);
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url(../img/slidericecream3.png);
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.gifts {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    color: #ffffff;
    text-transform: none;
}

.gifts h3{
    font-size: 35px;
    line-height: 41px;
}

.gifts-left {
    width: 560px;
    height: 229px;
    background-color: #849d8f;
    background-image: url(../img/raspberries-background.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
 }

.gifts-right {
     width: 560px;
     height: 229px;
     background-color: #849d8f;
     background-image: url(../img/chocolate-background.jpg);
     background-position: 0 0;
     background-repeat: no-repeat;
  }

.hits p {
    font-size: 45px;
    line-height: 45px;
}

.hits span {
    font-size: 30px;
    line-height: 45px;
}

.hits a {
    color: #ffffff;
    text-decoration: underline;
}

.hit-catalog-item {
    list-style: none;
}

.feature {
    color: #323232;
    font-size: 16px;
    line-height: 22px;

    background-color: #ede1c7;
    background-image: url(../img/waffle-pattern.jpg);
    background-position: 0 0;
    background-repeat: repeat;
}

.feature b {
    font-size: 24px;
    line-height: 30px;
}

.feature-item {
    list-style: none;
}

.news {
    height: 220px;
    width: 560px;
    color: #323232;

    background-color: #ffffff;
    background-image: url(../img/strawberry-background.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.news a {
    color: #323232;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-decoration: underline;
}

.news h2 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}

.news-subscription {
    height: 220px;
    width: 560px;
    color: #5a5a5a;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;

    background-image: url(../img/subscription-background.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.news-subscription p,
.subscription-form {
    height: 210px;
    width: 550px;
    background-color: #f8f7f4;
}

.contacts {
    color: #323232;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;

    background-image: url(../img/map.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.contacts div {
    height: 305px;
    width: 302px;
    background-color: #fefefe;
}

.main-footer {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
}

.footer-social ul,
.footer-info li {
  list-style: none;
}

.footer-social {
  text-align: center;
}

.footer-info a {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: underline;
}

.footer-copyright a {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;

    background: inherit;
}


.modal-feedback {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;

  background-color: #f8f7f4;
}

.feedback-form {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;

  background-color: #f8f7f4;
}

.cart {
    color: #323232;
    background-color: #f8f7f4;
}

.cart a {
    color: #323232;
}

.cart .button {
    color: #ffffff;
}

.breadcrumbs,
.filter-option,
.catalog-item,
.pagination-list {
  list-style: none;
}

.product-name {
    text-decoration: underline;
}

/*   сетка  */

html, body {
    min-width: 1200px;
    min-height: 2416px;

    padding-left: 27px;
    padding-right: 27px;
}

.main-navigation {
    margin: 0px;

    display: flex;
    align-items: flex-start;
}

.header-right {
    align-self: flex-end;
}

.main-header-logo {
    order: 1;

    width: 154px;
    height: 64px;
    padding-right: 24px;
}

.site-navigation {
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.gifts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.gifts-left {
    order:1;
    width:560px;
}

.gifts-right {
    order:2;
    width:560px;
}

.hits-catalog {
    display: flex;
    justify-content: space-between;

    padding: 0;
    margin: 0;
    list-style: none;
}

.hit-catalog-item {
    width: 267px;
    margin-bottom: 40px;
}

.feature-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 1146px;
    height: 306px;
}

.feature-item {
    width: 560px;
    padding-top: 30px;
}

.news-container {
    display: flex;
    justify-content: space-between;

    width: 1146px;
    height: 220px;
}


.news, .news-subscription {
    width:560px;
    height: 220px;
}

.contacts {
    width: 1200px;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
}

.footer-social {
    display: flex;
    justify-content: flex-start;
}

.footer-info {
    display: flex;
    justify-content: center;
}


.footer-info-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/*сетка каталог*/

.inner-page .main-navigation {
  margin-bottom: 26px;
}

.breadcrumbs {
    display: flex;
}

.filter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog-item {
    width:267px;
}

.pagination-list {
    display: flex;
    justify-content: flex-end;
}
